#main.container
  %h3.header.centered Contact Us
  %h5.content.centered Colgate Office of Sustainability

  %br
  %p.content.centered= link_to "Website", 'http://www.colgate.edu/distinctly-colgate/sustainability'
  %p.content.centered Colgate University
  %p.content.centered 109 Lathrop Hall
  %p.content.centered 13 Oak Drive
  %p.content.centered Hamilton NY, 13346
  %p.content.centered 315-228-6487
  %br
