#main.container
  %h3.header.text-center Welcome!
  %p.content Welcome to the Colgate Sustainability Passport Program. At the top of the page, you can navigate to all sustainability events, upcoming events, the faculty/staff leaderboard for points obtained through attending events, and the About page to learn more about the program and the director, John Pumilio.
  %br
  %p.title Purpose
  %p.content The Sustainability Passport Program strives to advance a culture of sustainability at Colgate by offering and supporting engaging educational programming for employees.  This professional development program will create better environmental stewards and advocates for sustainability on campus further supporting our sustainability and carbon neutrality goals.  Additionally, the program will assist employees looking to meet the sustainability behavioral competency as highlighted in Colgate’s job description update.
  %br
  %p.title How It Works:
  %p.content The Sustainability Office will create, support, and organize a suite of educational programming that advances the employee’s knowledge of sustainability at Colgate while promoting pro-environmental behaviors on campus.  Employees register for sessions of their choice, earning credits for each program they participate in.  In general, one hour of programming will equal one credit earned.  The Sustainability Office will track each employee’s participation over time.  The employee will receive recognition on the following point scale:
  %p.content • Sustainability Associate (6-9 points)
  %p.content • Sustainability Advocate (10-13 points)
  %p.content • Sustainability Champion (14 points or more)
  %p.content Employees will be recognized for their achievements and participation in the Program.
  %p=link_to "View Leaderboard", leaderboard_path, class: "nav-link nav-item"
