#main.container
  %h3.header.text-center Welcome!
  %p.content Welcome to the Colgate Sustainability website. At the top of the page, you can navigate to all sustainability events, upcoming events, the faculty/staff leaderboard for points obtained through attending events, and the About page to learn more about the program and the director, John Pumilio.
