#main.container
  %h3.header Edit Event

  %br
  =form_for @meeting, :method => :patch  do |f|
    .form-group
      =f.label :title, 'Title'
      =f.text_field :title, class: "form-control"

    .form-group
      =f.label :location, 'Location'
      =f.text_field :location, class: "form-control"

    .form-group
      =f.label :date, 'Date'
      =f.date_field :date

    .field
      =f.label :points, 'Points'
      =f.number_field :points, class: "form-control"

    .field
      =f.label :description, 'Description'
      =f.text_field :description, class: "form-control"

    .field
      =f.label :image, 'Image'
      =f.file_field :image, accept: "image/png,image/gif,image/jpeg"

    .field
      =f.submit 'Update Event',class:"btn-success"

  %br
  %p= link_to "Cancel", meeting_path(@meeting)
  %br
