#main.container
  %h3.header.text-center Contact the Sustainability Department

  %p
    Website:
    = link_to 'Colgate Sustainability Web Page', 'http://www.colgate.edu/distinctly-colgate/sustainability'

  %p.content Phone: 315-228-6487

  %p.content Office: 109 Lathrop Hall, 13 Oak Drive, Hamilton NY, 13346
